.field= form.email_field :email, :placeholder => 'Email..'
.field= form.password_field :password, :placeholder => 'Password..'
.field= form.password_field :password_confirmation, :placeholder => 'Password confirmation..'
.field= form.text_field :first_name, :placeholder => 'First name..'
.field= form.text_field :last_name, :placeholder => 'Last name..'
.field= form.url_field :url, :placeholder => 'Url..'
