= form.label :email
.field= form.email_field :email, :placeholder => 'Email..'
= form.label :password
.field= form.password_field :password, :placeholder => 'Password..'
= form.label :password_confirmation
.field= form.password_field :password_confirmation, :placeholder => 'Password confirmation..'
= form.label :first_name
.field= form.text_field :first_name, :placeholder => 'First name..'
= form.label :last_name
.field= form.text_field :last_name, :placeholder => 'Last name..'
= form.label :url
.field= form.url_field :url, :placeholder => 'Url..'
