= form.label :title
.field= form.text_field :title, :placeholder => 'Title..'
= form.label :description
.field= form.text_area :description, :rows => 14, :class => "required", :placeholder => 'Code..'
= form.label :url
.field= form.url_field :link_url, :class => 'url', :placeholder => 'Link..'