= form.label :title
.field= form.text_field :title, :placeholder => 'Title..'
= form.label :label
.field= form.url_field :link_url, :class => "required url", :placeholder => 'Link..'
= form.label :description
.field= form.text_area :description, :rows => 6, :placeholder => 'Description..'