= form.label :link_url
.field= form.url_field :link_url, :placeholder => 'Youtube Url..', :class => 'url youtube'
= form.label :video_embed
.field= form.text_area :video_embed, :rows => 6, :class => "", :placeholder => 'Video Embed..'
= form.label :description
.field= form.text_area :description, :rows => 6, :placeholder => 'Description..'