<p><%= f.label :title %><%= f.text_field :title %></p>
<p><%= f.label :link_url %>*<%= f.text_field :link_url, :class =>"required" %></p>
<p><%= f.label :description %><%= f.text_area :description, :rows => 6 %></p>