<div id='new-post-tabs'>
    <ul>
    <% for type in Post::TYPES %>
        <li <%= "class='ui-tabs-selected'" if type.downcase == params[:klass] %>><%= link_to type, "#new-#{type.downcase}-form" %></li>
    <% end %>
    </ul>
    
    <% for post_type in Post::TYPES %>
        <div id="new-<%= post_type.downcase %>-form">
            <% form_for(Post.new, :url => posts_path, :html => {:id => "#{post_type.downcase}_form"}) do |f| %>
                <%= f.error_messages %> 
                <%= render :partial => "#{post_type.downcase.pluralize}/form", :locals => {:f => f} %>
                <a href="#" class='show-extra-fields'>Advanced Options</a>
                <div class='extra-fields'>
                    <p><label><%= f.check_box :publicly_viewable %> Publicly Viewable?</label></p>
                    <p>Publish Date: <%= f.datetime_select :published_at %></p>
                    <p>Custom Permalink: <%= f.text_field :permalink %></p>
                </div>
                <%= f.hidden_field :type, :value => post_type %>
                <p class='form_submit'><%= f.submit "Post" %></p>
            <% end %>
        </div>
    <% end %>
</div>