.field
  = form.check_box :publicly_viewable
  = form.label :publicly_viewable, 'Public?'
.field
  = label_tag 'blog_published_at_1i', 'Publish Date:'
  = form.datetime_select :published_at, :start_year => Time.now.year
= form.label :published_at
.field= form.text_field :permalink, :placeholder => 'Custom Permalink..'
= form.label :via
.field= form.text_field :via, :placeholder => 'via..'