<h2>Editing post</h2>

<div id='new-post-tabs'>
    <% form_for(:post, @post, :url => post_path(@post), :html => {:method => :put}) do |f| %>
        <%= render :partial => "#{@post.type.to_s.downcase.pluralize}/form", :locals => {:f => f} %>
        <p><label><%= f.check_box :publicly_viewable %> Publicly Viewable?</label></p>
        <p>Publish Date: <%= f.datetime_select :published_at %></p>
        <p>Custom Permalink: <%= f.text_field :permalink %></p>
        <p><%= f.submit "Update" %> or <%= link_to 'Cancel', post_path(@post) %></p>
    <% end %>
</div>