- if current_user
  = link_to "New Post", '#', :class => 'open'
  #new_post
    = link_to "close", '#', :class => 'close'
    %ul
      - Post.types.each do |t|
        %li= link_to t, "#new_#{t.downcase}"
    - Post.types.each do |t|
      - form_for Object.const_get(t).new, :url => posts_path, :html => {:id => "new_#{t.downcase}", :class => 'new_post ui-tabs-hide'} do |form|
        = render :partial => "posts/forms/#{t.downcase}", :locals => {:form => form}
        = link_to "Add details", '#', :class => 'more'
        .more= render form
        = form.submit "Preview", :id => "#{form.object_name}_preview"
        = form.submit "Post", :class => 'submit'

#posts.hfeed
  - if @posts.blank?
    .blank No posts :'(
  - else
    = render :partial => 'post', :collection => @posts
    = will_paginate @posts
