<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Bumble: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'scaffold' %>

    <% if RAILS_ENV == 'production' %>
        <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js', 'application' %>
    <% else %>
        <%= javascript_include_tag 'jquery.min.js', 'application' %>
    <% end %>
  
</head>
<body>

<h1><%= link_to "Teabass", root_path %></h1>

<p><% for type in Post::TYPES %>
    <%= link_to type, post_class_path(type.downcase) %>
<% end %></p>

<% if logged_in? %>
    <p><%= link_to "Logout", logout_path %></p>
<% end %>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
